[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scShapes"]
	path = scShapes
	url = https://github.com/malindrie/scshapes
	shallow = true
	registered = true
